.git/
.gitattributes
.gitignore

node_modules/
target/
.pnpm-store/

.next/
.nuxt/
.cache/
dist/

*.md
LICENSE
COPYING.md

pnpm-lock.yaml
pnpm-workspace.yaml
turbo.jsonc

apps/app-frontend/
apps/app-playground/
apps/docs/
apps/frontend/

packages/api-client/
packages/assets/
packages/blog/
packages/moderation/
packages/tooling-config/
packages/ui/
packages/utils/

scripts/
standards/
.github/
.husky/
.prettierignore
.editorconfig
.npmrc
.nvmrc
.cargo/
.claude/
.idea/
.vscode/
_typos.toml
clippy.toml
crowdin.yml
rustfmt.toml
tombi.toml
web-types.json
