.git/
.gitattributes
.gitignore

node_modules/
target/
.pnpm-store/

.next/
.nuxt/
.cache/
dist/

*.md
LICENSE
COPYING.md

scripts/
standards/
.github/
.husky/
.prettierignore
.editorconfig
.nvmrc
.cargo/
.claude/
.idea/
.vscode/
_typos.toml
clippy.toml
crowdin.yml
rustfmt.toml
tombi.toml
web-types.json
