## Permission Verification

It looks like the custom modpack for your server may be distributing content from outside of the Bbsmc ecosystem.

Per section 4 of [Bbsmc's Content Rules](https://bbsmc.org.cn/legal/rules), we ask that you verify you are abiding by all licensing requirements and have permission to distribute the content included in your modpack.

By resubmitting your server while including this content, you acknowledge that you have seen this notice and have all necessary rights and permissions to upload your custom server pack to Bbsmc.

Keep in mind, if your server's custom modpack is found to be in violation of [Bbsmc's Content Rules](https://bbsmc.org.cn/legal/rules), your listing may be temporarily or permanently removed from Bbsmc with or without warning.
